:root {
  --color-bg: #253334;
  --color-fg: #f7f3f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-fg);
  background: var(--color-bg);
  font-family: 'Alegreya Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
